#homepage-banner {
  position: relative;
  min-height: calc(90vh - var(--top-spacing));
  background-color: var(--eggplant);
  background-image: url('../../images/long-road-800x440.jpg');
  background-repeat: no-repeat;
  background-blend-mode: screen;
  /* color: var(--mint); */
}

#homepage-banner h1 {
  position: relative;
  padding: 1rem;
  font-size: 2.2rem;
  font-weight: normal;
  text-align: center;
  line-height: 1;
  background-color: #00004242;
  background-image: linear-gradient(var(--blue), var(--orange));
  filter: drop-shadow(0 0 3px var(--eggplant));
  filter: opacity(0.9);
  color: white;
}

#homepage-banner h1 span {
  filter: unset;
}

h1 span.bi-line {
  display: block;
  padding-top: 2rem;
  font-size: smaller;
  font-style: italic;
}

.site-intro-section {
  display: flex;
  flex-direction: column;
  padding: 1rem 1rem;
  text-align: center;
}

.site-intro-features {
  margin: 0 auto;
  text-align: left;
}

.feature-greyed {
  color: #666;
}

.homepage-timeline-graphic {
  margin: 0 auto;
  width: 50%;
}

.site-intro-content {
  font-size: 150%;
  line-height: 1.5;
  color: var(--eggplant);
}

@media screen and (min-width: 48em) {
  #homepage-banner {
    /* height: calc(100vh - var(--top-spacing) - 2rem); */
    background-image: url('../../images/long-road-1280x700.jpg');
  }
  #homepage-banner h1 {
    /* margin-block-start: -2rem; */
    font-size: 3.2rem;
  }
  .site-intro-section {
    padding-left: 4rem;
    padding-right: 4rem;
  }
}