#homepage-banner {
  position: relative;
  min-height: 300px;
  background-color: var(--eggplant);
  color: var(--mint);
  /* background-image: url('../../images/homepage-banner.jpg');
  background-repeat: no-repeat; */
}

#homepage-banner h1 {
  /* padding: 1rem; */
  font-size: 2.2rem;
  font-weight: normal;
  text-align: center;
  line-height: 1;
}

h1 span.bi-line {
  display: block;
  padding-top: 2rem;
  font-size: smaller;
  font-style: italic;
}

.site-intro-section {
  display: flex;
  flex-direction: column;
  padding: 1rem 1rem;
  text-align: center;
}

.homepage-timeline-graphic {
  margin: 0 auto;
  width: 50%;
}

.site-intro-content {
  font-size: 150%;
  line-height: 1.5;
  color: var(--eggplant);
}

@media screen and (min-width: 48em) {
  /* #homepage-banner {
    height: calc(100vh - var(--top-spacing) - 2rem);
  } */
  #homepage-banner h1 {
    /* margin-block-start: -2rem; */
    font-size: 3.2rem;
  }
  .site-intro-section {
    padding-left: 4rem;
    padding-right: 4rem;
  }
}